<div id="carousel">
    <img src="<%= asset_path "carousel-1" %>" alt="Carousel1" data-index='1' class="carousel-image active">
    
    <img src="<%= asset_path "carousel-2" %>" alt="Carousel2" data-index='2' class="carousel-image">

    <img src="<%= asset_path "carousel-3" %>" alt="Carousel3" data-index='3' class="carousel-image">

    <img src="<%= asset_path "carousel-4" %>" alt="Carousel4" data-index='4' class="carousel-image">

    <div id="triangle-bottomleft">
    </div>

    <button src="<%= asset_path "right-arrow" %>" alt="Carousel4" class="carousel-right-arrow" id="carousel-next">
        <img src="<%= asset_path "right-arrow" %>" alt="Carousel4">
    </button>

    <button src="<%= asset_path "left-arrow" %>" alt="Carousel5" class="carousel-left-arrow"  id="carousel-previous">
        <img src="<%= asset_path "left-arrow" %>" alt="Carousel5">
    </button>
    
</div>

